In [2]:
import pandas as pd
import numpy as np

df=pd.read_csv('iris.csv')
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [19]:
 
variety_array = np.array(df.variety)

variety_array,count_of_flower=np.unique(variety_array, return_counts= True)
count = np.asarray((variety_array,count_of_flower)).T
print(count)

[['Setosa' 50]
 ['Versicolor' 50]
 ['Virginica' 50]]

In [10]:
Data_of_flower =df[(df.variety == 'Virginica' ) & (df['petal.length'] > 1.5 )]
Data_of_flower.head()

     sepal.length  sepal.width  petal.length  petal.width    variety
100           6.3          3.3           6.0          2.5  Virginica
101           5.8          2.7           5.1          1.9  Virginica
102           7.1          3.0           5.9          2.1  Virginica
103           6.3          2.9           5.6          1.8  Virginica
104           6.5          3.0           5.8          2.2  Virginica

In [27]:
Data_of_flower_Virginica = df[df.variety == 'Virginica']
print('Vircinica')
print(Data_of_flower.describe())
print('Versicolor')
Data_of_flower_Virginica = df[df.variety == 'Versicolor']
print(Data_of_flower.describe())
print('Setosa')
Data_of_flower_Virginica = df[df.variety == 'Setosa']
print(Data_of_flower.describe())

Vircinica
       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000
Versicolor
       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000
Setosa
       sepal.length  sepal.width  petal.length  petal.width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000