In [84]:
import pandas as pd 
import numpy as np
df = pd.read_csv('terrorismData.csv')
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

In [108]:
df.describe()

,Year,Month,Day,Latitude,Longitude,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,1570.000000,8191.000000

In [104]:

np_Day10Above = df[(df.Day >=10 ) & (df.Day <=20)]
print("Number of Attack Happened between Day 10 and 20 are {}".format(len(np_Day10Above)))
print("Total Percent of Attack Done between 10 and 20 are :" ,( len(np_Day10Above)/len(df.Day)) *100 )

Number of Attack Happened between Day 10 and 20 are 66330
Total Percent of Attack Done between 10 and 20 are : 36.50703667215217

In [105]:
#attack happened bwtween 1 jan 2010 and 31 jan 2010 (including both)
np_bool_1_to_31_jan_2010 = df[(df.Year == 2010) & (df.Month == 1) & (df.Day >0)] 
print(len(np_bool_1_to_31_jan_2010 ))

271

In [162]:
# MAY 1999 and July 1999 (3 Month) 
# Casuality  = Killed + Wounded 
# print Casuality City TerroristGroup
np_bool_Month_May_to_July_in_1999 =( (df.Month== 5 )|( df.Month==6) | (df.Month ==7)  ) & (df.Year == 1999 )

bool_ans=(df.Killed[np_bool_Month_May_to_July_in_1999] + df.Wounded[np_bool_Month_May_to_July_in_1999]).max()
City=df.City[bool_ans]
TerroristGroup = df.Group[bool_ans]
Attack_Type = df.AttackType[bool_ans]
Country_type = df.Country[bool_ans] 
print("Maximum Number of Casuality= Killed + Wounded: {} in {} by {} at Country {} in 1999 between May and July \nAttack type was :{}".format(bool_ans,City,TerroristGroup,Country_type,Attack_Type))

Maximum Number of Casuality= Killed + Wounded: 300.0 in Ames by Black Panthers at Country United States in 1999 between May and July
Attack type was :Bombing/Explosion

In [216]:


np_bool_Red_Corridor_States = df[(df.State == 'Jharkhand' ) | (df.State == 'Odisha' ) |(df.State == 'Andhra Pradesh' ) | (df.State == 'Chhattisgarh' ) ]
Casuality=(np_bool_Red_Corridor_States.Killed )+( np_bool_Red_Corridor_States.Wounded)
print(Casuality.sum())

5448.0

In [213]:
Casuality_list =(df.Killed) +(df.Wounded)

# np_bool_max_Casuality = 
Casuality_array = np.array(Casuality_list,dtype=int)
Top_5_Casuality = np.partition(Casuality_array,-5)[-5:]
Ans=df.City[Top_5_Casuality]
Ans

1503    Jerusalem
4224       Athens
5513       Beirut
9574        Milan
9574        Milan
Name: City, dtype: object

In [233]:

np_Day = np.array(df.Day,dtype=int)

np_Unique, Frequency_Of_Day = np.unique(np_Day, return_counts= True)

for i in np_Unique:
    print(np_Unique[i],":", Frequency_Of_Day[i] , end= "    ")

0 : 891    1 : 6344    2 : 5954    3 : 6011    4 : 6153    5 : 5844    6 : 5781    7 : 5997    8 : 5859    9 : 6057    10 : 6064    11 : 5936    12 : 6012    13 : 6043    14 : 6028    15 : 6500    16 : 6112    17 : 5852    18 : 5880    19 : 5973    20 : 5930    21 : 5827    22 : 5799    23 : 5782    24 : 5752    25 : 5875    26 : 5823    27 : 5937    28 : 6027    29 : 5507    30 : 5046    31 : 3095